<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.k3b.android.calef">

    <application
        android:allowBackup="false"
        android:icon="@drawable/calef"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="SettingsActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="CalefActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="text/x-vcalendar" />
                <data android:mimeType="text/calendar" />
            </intent-filter>
        </activity>
    </application>

</manifest>